<ion-card>
  <div class="dropbox">
    <ion-card-header (click)="toggleAccordion()" class="accordion-header">
      <ion-card-title  class="title">
        <h2>Stats</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-header (click)="toggleAccordion2()" class="accordion-header">
      <ion-card-title  class="title">
        <h2>Evolutions</h2>
      </ion-card-title>
    </ion-card-header>
  </div>

  <ion-card-content *ngIf="showContent">
    <ng-content></ng-content>
    <div class="divStats">
      <p class="divStats-nameStat">HP</p>
      <ion-progress-bar
        [value]="data.hp / 100"
        
        class="divStats-number"
      ></ion-progress-bar>
      <p>{{ data.hp }}</p>
    </div>
    <div class="divStats">
      <p class="divStats-nameStat">Attack</p>
      <ion-progress-bar
        [value]="data.attack / 100"
        class="divStats-number"
      ></ion-progress-bar>
      <p>{{ data.attack }}</p>
    </div>
    <div class="divStats">
      <p class="divStats-nameStat">Defense</p>
      <ion-progress-bar
        [value]="data.defense / 100"
        class="divStats-number"
      ></ion-progress-bar>
      <p>{{ data.defense }}</p>
    </div>
    <div class="divStats">
      <p class="divStats-nameStat">Speed</p>
      <ion-progress-bar
        [value]="data.speed / 100"
        class="divStats-number"
      ></ion-progress-bar>
      <p>{{ data.speed }}</p>
    </div>
  </ion-card-content>

  <ion-card-content *ngIf="showContentEvolution">
    <ng-content></ng-content>
    <div class="divEvolutions">
      <div
        *ngIf="data.evolutionBack"
        class="divEvolutions_div"
        (click)="getEvolution(data.evolutionBack)"
      >
        <img
          src="{{ data.evolutionBack }}"
          class="divEvolutions_div-imgEvolutins"
        />
        <p class="divEvolutions_div-p">Previous Evolution</p>
      </div>
      <div
        *ngIf="data.evolutionNext"
        class="divEvolutions_div"
        (click)="getEvolution(data.evolutionNext)"
      >
        <img
          src="{{ data.evolutionNext }}"
          class="divEvolutions_div-imgEvolutins"
        />
        <p class="divEvolutions_div-p">Next Evolution</p>
      </div>
      <div
        *ngIf="!data.evolutionNext && !data.evolutionBack"
        class="divEvolutions_div"
      >
        <h2>This pokemon does not have evolutions</h2>
      </div>
    </div>
  </ion-card-content>
</ion-card>
