<ion-header class="fade-in">
  <ion-toolbar>
    <ion-title>{{pokemon?.name | capitalizeFirstLetter}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pokemons"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cardDetail fade-in">
    <ion-card class="cardDetail__card">
      <div class="cardDetail__card-header">
        <ion-card-title> #{{pokemon?.id}}</ion-card-title>
        <ion-card-title
          >{{pokemon?.name | capitalizeFirstLetter}}</ion-card-title
        >
      </div>
      <div
        *ngFor="let type of pokemon?.types"
        style="display: flex; flex-direction: row"
      >
        <div
          class="Icon"
          [ngStyle]="{'background-color': 'var(--' + type.name +
          '-type-color)'}"
        >
          <img [src]="'../../../assets/img/types/' + type.name + '.svg'" class="img"/>
        </div>
      </div>
      <img alt="{{pokemon?.id}}" src="{{pokemon?.image}}" />
      <ion-card-header>
        <ion-card-subtitle
          >{{pokemon?.name | capitalizeFirstLetter}}</ion-card-subtitle
        >
      </ion-card-header>


      <ion-card-content>
        <div *ngFor="let type of pokemon?.types" style="display: flex">
          <ion-chip
            class="type"
            [ngStyle]="{'background-color': 'var(--' + type.name + '-type-color)'}"
          >
            {{type.name | capitalizeFirstLetter}}
          </ion-chip>
        </div>
      </ion-card-content>
      <div>
        <div>
          <p>{{pokemon?.height}}</p>
          <p>Height</p>
        </div>
        <div>
          <p>{{pokemon?.weight}}</p>
          <p>Weight</p>
        </div>
        <div>
          <p>{{pokemon?.height}}</p>
          <p>Gender Ratio</p>
        </div>
      </div>
      <div>
        <div>
          <h2>Stats</h2>
        </div>
        <div>
          <h2>Evolution</h2>
        </div>
      </div>
    </ion-card>
  </div></ion-content
>
