<ion-header class="fade-in">
  <ion-toolbar>
    <ion-title>{{pokemon?.name | capitalizeFirstLetter}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pokemons"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cardDetail fade-in" *ngIf="pokemon.length !== 0">
    <ion-card class="cardDetail__card">
      <div class="cardDetail__card-header">
        <ion-card-title> #{{pokemon?.id}}</ion-card-title>
        <ion-card-title
          >{{pokemon?.name | capitalizeFirstLetter}}</ion-card-title
        >
      </div>
      <div class="divTypesIcon">
        <div *ngFor="let type of pokemon?.types">
          <div
            class="Icon"
            [ngStyle]="{'background-color': 'var(--' + type +
          '-type-color)'}"
          >
            <img [src]="'/assets/img/types/' + type + '.svg'" class="img" />
          </div>
        </div>
      </div>
      <img
        alt="{{ pokemon?.id }}"
        [src]="pokemon?.image"
        class="imgPokemon"
        (load)="onImageLoad()"
        [ngClass]="{ 'loaded': imageLoaded }"
      />

      <ion-card-content>
        <div style="display: flex">
          <div *ngFor="let type of pokemon?.types">
            <ion-chip
              class="type"
              [ngStyle]="{'background-color': 'var(--' + type + '-type-color)'}"
            >
              {{type | capitalizeFirstLetter}}
            </ion-chip>
          </div>
        </div>
      </ion-card-content>
      <div class="divPrincipalStats">
        <div class="divPrincipalStats_numbers">
          <p class="divPrincipalStats_numbers-number">{{pokemon?.height}}</p>
          <p class="divPrincipalStats_numbers-text">Height</p>
        </div>
        <div class="divPrincipalStats_numbers">
          <p class="divPrincipalStats_numbers-number">{{pokemon?.weight}}</p>
          <p class="divPrincipalStats_numbers-text">Weight</p>
        </div>
        <div class="divPrincipalStats_numbers">
          <p class="divPrincipalStats_numbers-number">{{pokemon?.hp}}</p>
          <p class="divPrincipalStats_numbers-text">Health Points</p>
        </div>
      </div>
      <div>
        <div>
          <app-accordion [data]="pokemon"></app-accordion>
        </div>
      </div>
    </ion-card>

    <div>
      <app-comments></app-comments>
    </div>
    <div class="comments">
      <ion-button color="primary" (click)="goNewComment(pokemon?.id)"
        >Add Comment</ion-button
      >
    </div>
  </div>
</ion-content>

<div *ngIf="!pokemon.image" class="Loading">
  <h2>Loading...</h2>
</div>
