<ion-header class="fade-in">
  <ion-toolbar>
    <ion-title>Pokemons</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fade-in">
  
  <ion-grid>
    <ion-row class="row">
      <ion-col
        size-lg="6"
        size-md="8"
        offset-md="2"
        size-sm="10"
        offset-sm="1"
        class="col"
      >
        <div>
          <div
            *ngFor="let pokemon of pokemons"
            [routerLink]="['/detail/' + pokemon.id]"
            class="iconWrapper"
          >
            <div
              class="item"
              [ngStyle]="{ 'background-color': 'var(--' + obtenerClaseTipoPokemon(pokemon.types) + ')' }"
            >
              <div class="divImgName">
                <div class="divimg">
                  <img [src]="pokemon.image" class="img" [class.loaded]="imageLoaded" (load)="onImageLoad()" />

                </div>
                <div class="divName">
                  <p>{{ pokemon.name | capitalizeFirstLetter}}</p>
                  <div class="divTypes">
                    <div *ngFor="let type of pokemon.types">
                      <p class="TypeName">{{ type | capitalizeFirstLetter }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <p>#{{pokemon.id}}</p>
              </div>
            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMorePokemons($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<div *ngIf="pokemons.length === 0" class="Loading">
  <h2>Loading...</h2>
  
</div>